<div class="container p-4">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                        {{#each products}}
                        <div class="col-md-3">
                            <div class="card mb-4 shadow-sm">
                                <img src="{{PRODUCTO_URL}}" class="card-img-top" width="90px" height="150px">
                                <div class="card-body">
                                    <h5 class="card-title">{{PRODUCTO_NOMBRE}}</h5>
                                    <p class="card-text">Descripcion:</p>
                                    <p><textarea rows="2" class="form-control" readonly>{{PRODUCTO_DESCRIPCION}}</textarea></p>
                                    <p class="card-text">Cantidad: {{PRODUCTO_CANTIDAD}}</p>
                                    <p class="card-text">Precio: {{PRODUCTO_PRECIO}}</p>
                                    <p class="card-text">Medida: {{PRODUCTO_MEDIDA}}</p>
                                    <p class="card-text">Peso: {{PRODUCTO_MEDIDA}}</p>
                                    <div class="d-grid gap-3">
                                        <a href="/products/edit/{{PRODUCTO_ID}}" class="btn btn-primary rounded-pill">Actualizar</a>
                                        <a href="/products/delete/{{PRODUCTO_ID}}" class="btn btn-danger rounded-pill">Eliminar</a>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">Caduca: {{timeago PRODUCTO_FECHALIMITE}}</p>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="col-md-4 mx-auto">
                            <div class="card text-center">
                                <p>No hay productos faltantes</p>
                                <a href="/products/add">Agregue Uno!</a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
